/* Datepicker */
.react-datepicker {
  font-family: Montserrat;
}

/* Form */
form:invalid [type="submit"] {
  pointer-events: none;
  opacity: .5;
}

/* Select */
.react-select > div {
  border: solid 1px #000;
}